/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
@media (min-width: 1343px) and (max-width: 2000px) {
    .about {
      height: 100%;
    }
}
@media (min-width: 1200px) and (max-width: 1342px) {
    .text-bg {
        padding-left: 37px;
    }
    .about {
      height: 100%;
    }
    .text-bg h1 {
        font-size: 52px;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        font-size: 24px;
        line-height: 34px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
/**  .container {
    height: 60px;
  }
  .row {
    height: 60px;
  }**/
  .full {
    height: 60px;
    width: 200px;
  }
  .center-desk {
    height: 60px;
    width: 200px;
  }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 7px;
        font-size: 15px;
        line-height: 32px;
    }
    .header {
        padding: 0px 0px 0px 0px;
        height:60px;
    }
    .logo {
        margin-top: 0px;
        line-height: 80px;
    }
    .about {
      height: 100%;
    }
    ul.email li a {
        padding: 17px 7px 0 7px;
        font-size: 14px;
    }
    .text-bg h1 {
        font-size: 52px;
        line-height: 116px;
        padding-bottom: 11px;
    }
    .text-bg span {
        font-size: 45px;
        line-height: 60px;
    }
    .text-bg {
        padding-left: 38px;
    }
    .bottom_form .enter {
        width: 36%;
    }
    ul.infometion li a {
        margin: 0px 1px;
        font-size: 16px;
    }
    .dlsf {
      display: inline;
      height: 60%;
      padding-left: 10px;
    }
    .logo {
        margin: auto;
        line-height: 60px;
        height:100%;
        width: 100%;
    }
    .logo a {
      line-height: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
/**  .container {
    height: 60px;
  }
  .row {
    height: 60px;
  }**/
  .full {
    height: 60px;
    width: 200px;
  }
  .center-desk {
    height: 60px;
    width: 200px;
  }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0 4px;
        font-size: 18px;
        line-height: 32px;
    }
    .header {
        padding: 0px 0px 0px 0px;
        height:60px;
    }
    .mypolice {
      font-family: 'Lato', sans-serif;
      display: none;
    }
    .banner_main {
        min-height: 513px;
        padding-top: 0px;
    }
    .about {
      height: 100%;
    }
    .text-bg h1 {
        font-size: 52px;
        line-height: 110px;
        padding-bottom: 10px;
    }
    .text-bg span {
        font-size: 34px;
        line-height: 33px;
    }
    .text-bg a {
        max-width: 139px;
        padding: 9px 0px;
    }
    .text-bg {
        padding-left: 32px;
    }
    #banner1 .carousel-control-next {
        left: 7%;
    }
    #banner1 a.carousel-control-next,
    #banner1 a.carousel-control-prev {
        top: 121%;
    }
    .service_box p {
        font-size: 16px;
    }
    .service_box h3 {
        font-size: 21px;
    }
    .d_none {
        display: none;
    }
    ul.email {
        display: none;
    }
    .bottom_form .enter {
        width: 58%;
    }
    .sub_btn {
        max-width: 137px;
    }
    .padd_bott {
        margin-bottom: 20px;
    }
    .dlsf {
      display: inline;
      height: 40%;
      padding-left: 95px;
    }
    .heading3 .mybackground {
      height: 50%;
      font-size: 2.5vw;
    }
    .logo {
        margin: auto;
        line-height: 60px;
        height:100%;
        width: 100%;
    }
    .logo a {
      line-height: 40px;
    }
    .chatRoomBoxEm > button {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
  .mentionslegales {
    width: 100%;
  }
  .header {
      padding: 0px 0px 0px 0px;
      height:60px;
  }
  .chatRoomBoxEm > button {
      display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
/**   .container {
     height: 60px;
   }
   .row {
     height: 60px;
   }**/
   .full {
     height: 60px;
     width: 200px;
   }
   .center-desk {
     height: 60px;
     width: 200px;
   }
   .mypolice {
     font-family: 'Lato', sans-serif;
     font-size: 15px;
     display: inline-block;
   }
   .header {
       padding: 0px 0px 0px 0px;
       height:60px;
   }
   .about {
     height: 100%;
   }
   .logo {
       margin-top: -20px;
       line-height: 100%;
       height:100%;
       width: 200px;
   }
   .logo img {
     max-width: 100%;
     height: 100px;
     vertical-align: top;
     padding: -10px;
     width: 200px;
   }
    .text-bg h1 {
        font-size: 52px;
        line-height: 108px;
        padding-bottom: 20px;
    }
    .text-bg {
        padding-left: 0px;
        padding-bottom: 30px;
    }
    .text-bg span {
        font-size: 44px;
    }
    .box_text {
        margin-top: 30px;
        box-shadow: #ddd 0px 0px 7px 0px;
    }
    #banner1 .carousel-control-next {
        left: 10%;
    }
    .titlepage h2 {
        font-size: 34px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.email {
        display: none;
    }
    .bottom_form h3 {
        padding-right: 30px;
    }
    .sub_btn {
        max-width: 134px;
    }
    .padd_bottom {
        margin-bottom: 20px;
    }
    .navigation.navbar {
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 12px;
    }
    .navigation .navbar-collapse {
        background: #000;
        padding: 0;
        margin-top: 21px;
        position: absolute;
        width: max-content;
        margin-right: 20px;
        z-index: 999;
        height:20px;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
        display: block;
        line-height: 32px;
        background: black;
    }
    .navigation.navbar-dark .navbar-nav .nav-link:focus,
    .navigation.navbar-dark .navbar-nav .nav-link:hover {
        color: #003a7c;
        background: black;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        padding-top: 6px;
        float: right;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .dlsf {
      display: none;    .heading3 .mybackground {
      height: 10%;
    }
      padding-left: 10px;
    }
    .mentionslegales {
      width: 100%;
    }
    .heading3 .mybackground {
      height: 30%;
      font-size: 2.5vw;
    }
    ul,
    li,
    ol {
      padding-left: 5px;
      padding-right: 5px;
      background: black;
    }
    .chatRoomBoxEm > button {
        display: none;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 0px 0px 0px 0px;
        height:60px;
    }
    .logo {
        margin-top: 0px;
        line-height: 40px;
    }
    .full {
      text-align: center;
    }
    .mypolice {
      font-family: 'Lato', sans-serif;
      display: inline-block;
      font-size: 20px;
      background: black;
    }
    .text-bg h1 {
        font-size: 52px;
        line-height: 70px;
        padding-bottom: 10px;
    }
    .text-bg {
        padding-left: 0px;
        padding-bottom: 30px;
    }
    .text-bg span {
        font-size: 32px;
        line-height: 56px;
    }
    .carousel-control-next {
        left: 17% !important;
    }
    .margin_boot {
        margin-bottom: 20px;
    }
    .text-bg a {
        max-width     height: 80px;
     width: 300px;: 132px;0
        padding: 10px 0px;
    }
    .titlepage h2 {
        font-size: 27px;
        line-height: 22px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    .about {
      height: 100%;
    }
    .about .titlepage p {
        margin-top: 30px;
    }
    .bottom_form .enter {
        width: 100%;
        margin-bottom: 30px;
    }
    .sub_btn {
        margin-left: 0;
    }
    .padd_bottom {
        padding-bottom: 30px;
    }
    #myCarousel .carousel-control-next i,
    #myCarousel .carousel-control-prev i {
        display: none;
    }
    .navigation.navbar {
        display: inherit !important;
        padding: 0 !important;
        width: 100%;
        margin-top: -65px;
    }
    .navigation .navbar-collapse {
        background: #000;
        padding: 0;
        margin-top: 0px;
        position: absolute;
        width: 100%;
        z-index: 999;
        height:20px;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 0;
        color: #fff;
        line-height: 32px;
        font-size: 40px;
        background: black;
    }
    .navigation.navbar-dark .navbar-nav .nav-link:focus,
    .navigation.navbar-dark .navbar-nav .nav-link:hover {
        color: #003a7c;
        background: black;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
    }
    .testimonial_box {
        padding: 0px 19px 40px 20px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
        margin-right: 350px;
    }
    .dlsf {
      display: none;
      padding-left: 10px;
    }
    .dl {
      display: none;
    }
    ul.email li {
        display: none;
    }
    .mentionslegales {
      width: 100%;
    }
    .heading3 .mybackground {
      height: 25%;
      font-size: 2.5vw;
    }
    .logo img {
      max-width: 80%;
      height: 60px;
      vertical-align: top;
      padding: 5px;
    }
    ul,
    li,
    ol {
      padding-left: 5px;
      padding-right: 5px;
      background: black;
    }
    .chatRoomBoxEm > button {
        display: none;
    }
}
