downloads/*
!downloads/index.html
!downloads/css/
!downloads/fonts/
!downloads/js/
nodejs/listFile/node_module/*
nodejs/listFile/tmp/*
nodejs/listFile/listefichiers.json
!nodejs/listFile/package-lock.json
nodejs/listFile/.htaccess
!nodejs/listFile/index.js
!nodejs/listFile/package.json
nodejs/gettotal/node_module/*
nodejs/gettotal/tmp/*
!nodejs/gettotal/package-lock.json
nodejs/gettotal/.htaccess
!nodejs/gettotal/index.js
!nodejs/gettotal/package.json
nodejs/getdetails/node_module/*
nodejs/getdetails/tmp/*
!nodejs/getdetails/package-lock.json
nodejs/getdetails/.htaccess
!nodejs/getdetails/index.js
!nodejs/getdetails/package.json
nodejs/addone/node_module/*
nodejs/addone/tmp/*
!nodejs/addone/package-lock.json
nodejs/addone/.htaccess
!nodejs/addone/index.js
!nodejs/addone/package.json
nodejs/listFile/.env
nodejs/gettotal/.env
nodejs/getdetails/.env
nodejs/addone/.env
.env
